html {
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: var(--background-soft);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: var(--background-soft-card);
    max-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 15px 15px 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);

    font-size: 1.1rem;
}

.card .image {
    border-radius: 10px;
}

.card .title-link:hover {
    color: #2c7dfa;
}

.card .title-link {
    color: var(--color-text-dark);
    font-weight: 700;
}

.card .text {
    color: var(--color-text-soft);
    font-weight: 300;
}